extends layout

block content
	h1 Welcome to Backer
	p= name

	ul
		each val, index in rooms
			li(class=val.type)
				if (val.type == 'file' || val.type == 'redirect')
					a(href=val.link, target='_blank')= val.name
				else
					a(href=val.link)= val.name
