<form name="loginform" ng-submit="login()" novalidate>
	<div class="text-input">
		<input ng-model="$parent.name" type="text" name="name" placeholder="Type in your name" required>
		<!-- <div class="validation-messages">
			<div ng-show="loginform.$submitted">
		    	<div class="validation-message" ng-show="loginform.email.$error.required">Email is required.</div>
		    </div>
	    </div> -->
	</div>

	<div class="text-input" style="margin-bottom: 30px;">
		<input ng-model="$parent.password" type="password" name="password" placeholder="and password." required>
		<!-- <div class="validation-messages">
			<div ng-show="loginform.$submitted">
		    	<div class="validation-message" ng-show="loginform.password.$error.required">Password is required.</div>
		    </div>
	    </div> -->
	</div>

	<button class="login-submit" type="submit" name="submit">Login</button>
</form>